
.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;
}
.dialog.active a{
    color: red;
}
.dialog a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
/* .dialog.active{

} */
.messagesItem{
    padding: 10px;
}
.message{
    color: #fff;
    font-size: 20px;
}
