.app-wrapper{
    /* max-width: 1200px; */
    margin: auto;
    display: grid;
    grid-template: 'h h' 'n c';
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
}
.app-wrapper-content{
    grid-area: c;
    background: rgb(19, 93, 190);
}
